@charset "UTF-8";

table td {
    overflow: hidden;
}

table td a{
    color: black;
    text-decoration: none;
    display: block;
    margin: -75px;
    padding: 75px 75px;
 } 

.title {
    margin-top: 50px;
}


th {
    background: rgb(170, 170, 170);
  }

.btn {
    font-size: 14px;
    display: inline-block;
    padding-bottom: 3px;
    margin-left: 30px;
}

.aki {
    color: red;
    font-weight: bold;
}

.sukunai {
    color: rgb(69, 69, 255);
    font-weight: bold;
}

.rain {
    margin-top: 0;
    margin-right: 4px;
    padding-bottom: 5px;
}