@charset "UTF-8";

th {
    background: rgb(170, 170, 170);
  }

.btn {
    font-size: 14px;
    display: inline-block;
    padding-bottom: 3px;
    margin-left: 30px;
}

.aki {
    color: red;
    font-weight: bold;
}

.sukunai {
    color: rgb(69, 69, 255);
    font-weight: bold;
}

.rain {
    margin-top: 0;
    margin-right: 4px;
    padding-bottom: 5px;
}